<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/detail-list" routerLinkActive="active">Navbar</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a routerLink="/custom-data">Custom Data</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>

<!-- <ul>
  <li *ngFor="let post of data$ | async">{{post.title}}</li>
</ul><h1 translate>Title</h1>

<div translate>WelcomeMessage</div>

<button (click)="switchLanguage('en')">English</button>

<button (click)="switchLanguage('de')">German</button>
<button (click)="switchLanguage('te')">Telugu</button> -->
<router-outlet></router-outlet>
